@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;


.c-breadcrumb {
 width: 100%;
 background: #e8e8e8; 
 display: flex;
 align-items: center;
 column-gap: 2rem; 
 flex-wrap: wrap;
 padding-left: 10rem;
 @include sp {
  width: 100%;  
  padding-left: 2rem;
 }
}

.c-breadcrumb__text {
 color: #000;
 font-size: 1.6rem;
 line-height: calc(33 / 16);  
 }


.c-breadcrumb__text--1-line { 
 padding-block: 9px 8px;
 @include sp {
  padding-block: 2px 1px;
 }
}

.c-breadcrumb__text--2-lines { 
 padding-block: 9px 8px;
 @include sp {
  padding-block: 9px 0px;
  line-height: 1;
 }
}

.c-breadcrumb__text--bottom {
 @include sp {
 padding-block: 5px 8px; 
}
}