@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;


.c-top-back-btn {
 // width: 6.8rem;
 width: 68px;
 //height: 6.8rem;
 height: 68px;
 background-color: rgba(0, 0, 0, 0.502);
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 // position: fixed;
 // right: 10rem; 
 // bottom: calc(91 / 1080 * 100vw);
 opacity: 0;
 visibility: hidden;
 transition: background-color .4s;
 z-index: 999;
 // @include sp {
 //  position: fixed;   
 //  right: 2rem; 
 //  bottom: calc(79 / 375 * 100vw);  
 // }
}

.c-top-back-btn:hover {
 background-color: rgba(0, 0, 0, 0.3); 
}

.c-top-back-btn--91-79 {
 position: fixed;
 right: 10rem; 
 bottom: calc(91 / 1080 * 100vw);
 @include sp {
  position: fixed;   
  right: 2rem; 
  bottom: calc(79 / 375 * 100vw);  
 }
}

.c-top-back-btn--30-18 {
 position: fixed;
 right: 10rem; 
 bottom: calc(30 / 1080 * 100vw);
 @include sp {
  position: fixed;   
  right: 2rem; 
  bottom: calc(18 / 375 * 100vw);  
 }
}

.c-top-back-btn__icon {
 width: 43%;
}

