@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;


.p-footer-nav {
 width: 30rem;
 height: 3.3rem;
 margin-inline: auto;
 @include sp {
  width: 29rem;
 }
}

.p-footer-nav__lists {
 width: 30rem;
 height: 3.3rem;
 display: flex;
 justify-content: space-between;
 @include sp {
  width: 29rem;
 }
}

.p-footer-nav__list a {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: calc(33 / 17);
  transition: opacity .4s;
}

.p-footer-nav__list a:hover {
  opacity: 0.5;
}

