@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;


.p-plan__inner {
 padding-block: 6.7rem 22.3rem; 
}

.p-plan__text {
 font-size: 1.8rem;
 line-height: calc(30 / 18); 
 text-align: left;
 margin-bottom: 5.7rem;
}

.p-plan__btns {
 display: flex;
 column-gap: 8rem;
 justify-content: center;
 position: relative;
 padding-block: 3.8rem 4.8rem;
}

.p-plan__btn {
 margin: 0;
 width: 21rem;
 height: 6rem; 
}

.p-plan__btn::after {
  content: '+'; /* プラスマークを表示 */
  font-size: 30px; /* プラスマークのサイズを指定 */
  font-weight: bold; /* 太さを指定 */
  position: absolute;
  top: 29%; /* 垂直中央に配置 */
  left: 48.7%; /* ボタンの右側に配置 */  
  width: 18.5px; /* 幅を指定 */
  height: 18.5px; /* 高さを指定 */  
  color: #000;
}

.p-plan__btn p {
 color: #fff;
 font-size: 2rem;
 font-weight: 600;
 line-height: calc(33 / 20);  
}

.p-plan__title {
 margin-bottom: 4.7rem;
}


//-----table-----


.p-plan-table { 
 table-layout: fixed; /* 各列の幅を均等に固定 */
 width: 100%;
 border-bottom: 0.05rem solid #000; 
}

.kkk {
 height: 80px;
 border-bottom: 0.05rem solid #000; 
}

.bg-blk {
 background-color: #000;
 display: block; 
 color: #fff; 
 font-size: 2rem;
 font-weight: 600;
 line-height: calc(33 / 20);  
margin-top: 3rem;
padding: 10px 0 7px;
 }

.bg-red { 
 color: #fff; 
 font-size: 2rem;
 font-weight: 600;
 line-height: calc(33 / 20); 
 background-color: $color-red;
 padding-bottom: 5px;
}

.recommend {
 font-size: 1.7rem;
 line-height: calc(17 / 17);  
}


.kkk th {
 vertical-align: bottom; /* 下に寄せる */
}

.nnn {
 height: 8.5rem;
 color: #000; 
}

.chapter {
 font-size: 1.7rem;
 line-height: calc(30 / 17); 
 text-align: left; 
 padding: 0 20px;
 vertical-align: middle; /* 下に寄せる */
}
.fee {
 font-size: 2.2rem;
 font-weight: 600;
 line-height: calc(33 / 22);
 border-left: 0.05rem solid #000; 
 vertical-align: middle; /* 下に寄せる */
}

// .chapter-02 {
//  font-size: 1.7rem;
//  line-height: calc(30 / 17); 
//  text-align: left; 
//  vertical-align: middle; /* 下に寄せる */
// }

.lll {
 border-left: 0.05rem solid #000; 
 font-size: 1.7rem; 
 line-height: calc(25 / 17);
 vertical-align: middle; /* 下に寄せる */
}


.grey {
 background-color: rgba(80, 80, 80, 0.149);
}


.p-circle {
 display: inline-block;
 width: 15px;
 height: 15px;
 border-radius: 50%;
 background: #000;
}

.red-circle {
 display: inline-block;
 width: 15px;
 height: 15px;
 border-radius: 50%;
 background: #CB0000;
}

.p-line {
 display: inline-block;
 width: 30px;
 height: 1px;
 background: rgb(112, 112, 112);
 vertical-align: middle;
}