@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;


.p-search__inner {
 padding-block: 6.7rem 20.6rem;
 position: relative;
 @include sp {
  position: initial;
  padding-block: 3.6rem 19.5rem;    
 }
}
             
.p-search__top-text {
 display: flex;
 justify-content: space-between;
 font-size: 1.8rem;
 font-weight: 600;
 line-height: calc(32 / 18); //この比率で固定しないと上下のパーツが再利用しにくい
}

.p-search__top-text-span {
 font-weight: 500;
}

